.Searcher{
    text-align: center;
    margin-top: 1rem;
}

.Searcher input{
    box-sizing: border-box;
    border: 2px solid #555;
    height: 3em;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    color: #555;
    padding: 0 10px;
    margin-bottom: .5rem;
}

.Searcher input:focus{
    outline-width: 0;
}

.Searcher button {
    border: 0;
    height: 3em;
    width: 5rem;
    background-color: #555;
    font-size: 15px;
    color: var(--primary-background-color);
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    cursor: pointer;
}
.Searcher button:disabled{
    background-color:#aaa;
    cursor: auto;
}

.Searcher button:active{
    background-color:#aaa;
}