:root {
  --primary-font-color: #036;
  --primary-background-color: #f6f8fa;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}
